/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* Contenedor principal */
.container {
    width: 80%;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: center;
}

/* Botones */
button {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

/* Contenido de resultados */
#resultado {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fff;
    text-align: left;
}

#contenido img {
    width: 100%;
    max-width: 600px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

img {
    display: block;         /* Asegura que no tenga comportamiento inline */
    margin: 0 auto;         /* Centra la imagen horizontalmente */
    max-width: 100%;        /* Evita que la imagen se salga del contenedor */
    height: auto;           /* Mantiene la proporción original */
    transform: rotate(90deg); /* Opcional: Gira la imagen si es necesario */
}
